# Homework 10

## Problem 1. 30 POINTS
Create a bash shell script that will create a sqlite database of the 4 csv files in this directory. Make sure that you assing meaningful data types and constraints to your database.

Script: "database_script.sh" in homework10 directory

## Problem 2. 30 POINTS.
Using python, answer the following questions:
    1. Provide code that creates a pandas dataframe that contains a patient-level dataset with:
        - LastName
        - FirstName
        - Total Billing Amount

In [17]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///medical_data.db')

import pandas as pd

df1 = pd.read_sql('SELECT patient.lastname, patient.firstname, sum(encounter.billingamount) Total_billing_amount FROM patient JOIN encounter ON patient.patientid = encounter.patientid GROUP BY patient.lastname;', engine)

df1

  lastname firstname  Total_billing_amount
0    daily       bob                375.69
1      doe      john                186.97
2   sickly    joseph                888.10

 2. The billing department needs to modify each billing statment so that we take the total billing amount for each person, multiply it by 4.2 and subtract 10. Create a new column on your pandas dataframe that applies this correction and name this variable `correction`.

In [18]:
df1['correction'] = df1['Total_billing_amount'] * 4.2 - 10

df1

  lastname firstname  Total_billing_amount  correction
0    daily       bob                375.69    1567.898
1      doe      john                186.97     775.274
2   sickly    joseph                888.10    3720.020

 3. For all patients less than 40 years old, create a pandas data frame that contains:
        - LastName
        - FirstName
        - physician last name
        - physician first name
        - total times seen that physician

In [19]:
df2 = pd.read_sql('SELECT pat.lastname patient_last, pat.firstname patient_first, phys.lastname physician_last, phys.firstname physician_first, COUNT(e.encounterid) number_visits FROM encounter e JOIN patient pat ON e.patientid = pat.patientid JOIN physician phys ON e.encounterphysician = phys.physicianid GROUP BY pat.lastname HAVING pat.dob > 11/26/78', engine)

df2

  patient_last patient_first physician_last physician_first  number_visits
0        daily           bob    satterwhite            jill              2
1          doe          john    satterwhite            jill              2
2       sickly        joseph      whitecoat            bill              6

## Problem 3. 15 POINTS
You should have received an email that contains:
    - host
    - user
    - password
    
Go ahead and create three environment variables that hold this information. From this point forward, if you need this information, you should refer to the environment variables and NOT the values themselves. You will lose all points, if the values themselves are in the code and submitted to github. You will have effectively disclosed very sensitive data. **NOTE**, there is no code you turn in to get points for this problem. Rather, I will know that you have done this by reviewing the code below.

## Problem 4. 5 POINTS
Create a `sqlalchemy` engine that is connected to our database. **NOTE** use the environment variables set up in problem 1 to do this. There should be NO host, username, or passwords visible if you are using environment variables correctly. You may receive some `ImportError`. You will need to figure out how to resolve these issues.

In [21]:
from sqlalchemy import create_engine

import os

user = str(os.getenv("user"))

password = str(os.getenv("password"))

host = str(os.getenv("host"))

engine2 = create_engine('postgres://' + user + ':' + password + '@' + host)

Engine(postgres://bios821:***@rapid-857.vm.duke.edu)

## Problem 5. 20 POINTS
Using the engine created in Problem 2. Use sqlalchemy to help you create a hand drawn ER diagram. Please find a way to get you hand-drawn ER diagram into this repository. HINT, if you take a picture with your phone, you can use that image (which is just a file) to put into this directory.

In [55]:
from sqlalchemy.schema import MetaData

m = MetaData()
m.reflect(engine2)

for table in m.tables.values():
    print('*************************')
    print('TABLE: ' + table.name)
    print('COLUMNS:')
    for column in table.c:
        print('\t' + column.name)

*************************
TABLE: patient
COLUMNS:
	patientid
	lastname
	firstname
	gender
	dob
*************************
TABLE: physician
COLUMNS:
	physicianid
	lastname
	firstname
	specialty
*************************
TABLE: encounter
COLUMNS:
	encounterid
	patientid
	encounterdate
	encounterphysician
	encounterreason
	billingamount
*************************
TABLE: billing
COLUMNS:
	billingid
	encounterid
	code

In [56]:
m.tables.values()

dict_values([Table('patient', MetaData(bind=None), Column('patientid', INTEGER(), table=<patient>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x10ffd0b00>, for_update=False)), Column('lastname', VARCHAR(length=50), table=<patient>), Column('firstname', VARCHAR(length=50), table=<patient>), Column('gender', VARCHAR(length=1), table=<patient>), Column('dob', DATE(), table=<patient>), schema=None), Table('physician', MetaData(bind=None), Column('physicianid', INTEGER(), table=<physician>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x10ffb6748>, for_update=False)), Column('lastname', VARCHAR(length=50), table=<physician>), Column('firstname', VARCHAR(length=50), table=<physician>), Column('specialty', VARCHAR(length=50), table=<physician>), schema=None), Table('encounter', MetaData(bind=None), Column('encounterid', INTEGER(), table=<encounter>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x117a7f630>, for_update=False)), Column('patientid', INTEGER(), ForeignKey('patient.patientid'), table=<encounter>), Column('encounterdate', DATE(), table=<encounter>), Column('encounterphysician', INTEGER(), ForeignKey('physician.physicianid'), table=<encounter>), Column('encounterreason', VARCHAR(length=50), table=<encounter>), Column('billingamount', DOUBLE_PRECISION(precision=53), table=<encounter>), schema=None), Table('billing', MetaData(bind=None), Column('billingid', INTEGER(), table=<billing>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x117a87da0>, for_update=False)), Column('encounterid', INTEGER(), ForeignKey('encounter.encounterid'), table=<billing>), Column('code', VARCHAR(length=50), table=<billing>), schema=None)])