# Homework 10

## Problem 1. 30 POINTS
Create a bash shell script that will create a sqlite database of the 4 csv files in this directory. Make sure that you assing meaningful data types and constraints to your database.

In [67]:
%%bash
cat > db_create.sh<<EOF1
#!/bin/bash
sqlite3 mydb.db <<EOF
.headers off
CREATE TABLE billing(
  billingid TEXT PRIMARY KEY NOT NULL,
  encounterid TEXT NOT NULL,
  code TEXT NOT NULL
);
CREATE TABLE encounter(
  encounterid TEXT PRIMARY KEY NOT NULL,
  patientid TEXT NOT NULL,
  encounterdate TEXT NOT NULL,
  encounterphysician TEXT NOT NULL,
  encounterreason TEXT,
  billingamount REAL
);
CREATE TABLE patient(
  patientid TEXT PRIMARY KEY NOT NULL,
  lastname TEXT NOT NULL,
  firstname TEXT NOT NULL,
  gender TEXT,
  dob TEXT
);
CREATE TABLE physician(
  physicianid TEXT PRIMARY KEY NOT NULL,
  lastname TEXT NOT NULL,
  firstname TEXT NOT NULL,
  specialty TEXT
);

.mode csv
.import '|tail -n +2 billing.csv' billing
.import '|tail -n +2 encounter.csv' encounter
.import '|tail -n +2 patient.csv' patient
.import '|tail -n +2 physician.csv' physician
EOF
EOF1



ls -al
chmod +x db_create.sh
./db_create.sh

total 160
drwxr-xr-x  13 jikaizhang  staff    416 Nov 26 14:39 .
drwxr-xr-x  12 jikaizhang  staff    384 Nov 24 17:24 ..
-rw-r--r--   1 jikaizhang  staff      0 Nov 24 21:39 .import
drwxr-xr-x   3 jikaizhang  staff     96 Nov 24 17:33 .ipynb_checkpoints
-rw-r--r--   1 jikaizhang  staff     74 Nov 24 21:39 .mode
-rw-r--r--   1 jikaizhang  staff  14651 Nov 26 14:39 Homework10.ipynb
-rw-r--r--   1 jikaizhang  staff    241 Nov 24 17:24 billing.csv
-rwxr-xr-x   1 jikaizhang  staff    840 Nov 26 14:39 db_create.sh
-rw-r--r--   1 jikaizhang  staff    368 Nov 24 17:24 encounter.csv
-rw-r--r--   1 jikaizhang  staff    152 Nov 24 17:24 patient.csv
-rw-r--r--   1 jikaizhang  staff    141 Nov 24 17:24 physician.csv
-rw-r--r--   1 jikaizhang  staff  36864 Nov 26 12:17 test.db
-rwxr-xr-x   1 jikaizhang  staff    699 Nov 26 12:17 test.sh

## Problem 2. 30 POINTS.
Using python, answer the following questions:
    1. Provide code that creates a pandas dataframe that contains a patient-level dataset with:
        - LastName
        - FirstName
        - Total Billing Amount
    2. The billing department needs to modify each billing statment so that we take the total billing amount for each person, multiply it by 4.2 and subtract 10. Create a new column on your pandas dataframe that applies this correction and name this variable `correction`.
    3. For all patients less than 40 years old, create a pandas data frame that contains:
        - LastName
        - FirstName
        - physician last name
        - physician first name
        - total times seen that physician

In [1]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///mydb.db')
q1 = ('select patient.LastName, patient.FirstName, SUM(encounter.billingamount) tot '
    'from patient left join encounter on (encounter.patientid=patient.patientid) '
    'group by patient.patientid;')
result1 = engine.execute(q1).fetchall()
print(result1)

[('doe', 'john', 186.97), ('doe', 'jane', None), ('sickly', 'joseph', 888.0999999999999), ('well', 'sally', None), ('daily', 'bob', 375.69)]

In [4]:
import pandas as pd
df = pd.read_sql(q1, engine)
print(df)

  lastname firstname     tot
0      doe      john  186.97
1      doe      jane     NaN
2   sickly    joseph  888.10
3     well     sally     NaN
4    daily       bob  375.69

In [5]:
df['correction']=df['tot']*4.2-10
print(df)

  lastname firstname     tot  correction
0      doe      john  186.97     775.274
1      doe      jane     NaN         NaN
2   sickly    joseph  888.10    3720.020
3     well     sally     NaN         NaN
4    daily       bob  375.69    1567.898

In [6]:
q3 = ('select patient.dob, patient.LastName patient_LN, patient.FirstName patient_FN, '
      'physician.LastName physician_LN, physician.FirstName physician_FN, '
      'count(encounter.encounterphysician) tot_times_seen '
      'from patient '
      'left join encounter on encounter.patientid = patient.patientid '
      'left join physician on encounter.encounterphysician = physician.physicianid '
#       'from patient, physician, encounter '
#       'where encounter.patientid=patient.patientid AND encounter.encounterphysician = physician.physicianid '
      'group by patient.patientid, physician.physicianid;')
result3 = engine.execute(q3).fetchall()
# print(r'group by patient.patientid, physician.physicianid;'esult3)
df3 = pd.read_sql(q3, engine)
df3

       dob patient_LN patient_FN physician_LN physician_FN  tot_times_seen
0   2/3/63        doe       john    whitecoat         bill               1
1   2/3/63        doe       john  satterwhite         jill               1
2  7/23/71        doe       jane         None         None               0
3   4/2/81     sickly     joseph    whitecoat         bill               1
4   4/2/81     sickly     joseph           na           li               3
5   4/2/81     sickly     joseph          wei          liu               2
6  8/17/87       well      sally         None         None               0
7   9/2/91      daily        bob  satterwhite         jill               1
8   9/2/91      daily        bob           na           li               1

In [7]:
import datetime as DT
import numpy as np
now = pd.Timestamp(DT.datetime.now())
df3['dob'] = pd.to_datetime(df3['dob'], format='%m/%d/%y')
df3['dob'] = df3['dob'].where(df3['dob'] < now, df3['dob'] -  np.timedelta64(100, 'Y'))
df3['age'] = (now - df3['dob']).astype('<m8[Y]')
df3 = df3[df3['age'] < 40]
df3 = df3.drop(columns = ['age'])
df3 = df3.drop(columns = ['dob'])
print(df3)

  patient_LN patient_FN physician_LN physician_FN  tot_times_seen
3     sickly     joseph    whitecoat         bill               1
4     sickly     joseph           na           li               3
5     sickly     joseph          wei          liu               2
6       well      sally         None         None               0
7      daily        bob  satterwhite         jill               1
8      daily        bob           na           li               1

## Problem 1. 15 POINTS
You should have received an email that contains:
    - host
    - user
    - password
    
Go ahead and create three environment variables that hold this information. From this point forward, if you need this information, you should refer to the environment variables and NOT the values themselves. You will lose all points, if the values themselves are in the code and submitted to github. You will have effectively disclosed very sensitive data. **NOTE**, there is no code you turn in to get points for this problem. Rather, I will know that you have done this by reviewing the code below.

## Problem 2. 5 POINTS
Create a `sqlalchemy` engine that is connected to our database. **NOTE** use the environment variables set up in problem 1 to do this. There should be NO host, username, or passwords visible if you are using environment variables correctly. You may receive some `ImportError`. You will need to figure out how to resolve these issues.

In [19]:
host = os.environ.get('host')
user = os.environ.get('user')
password = os.environ.get('password')

eng_addr = 'postgresql://' + user + ":" + password + "@" + host
print(eng_addr)
engine2 = create_engine(eng_addr)

postgresql://bios821:happyhippo34@rapid-857.vm.duke.edu

## Problem 3. 20 POINTS
Using the engine created in Problem 2. Use sqlalchemy to help you create a hand drawn ER diagram. Please find a way to get you hand-drawn ER diagram into this repository. HINT, if you take a picture with your phone, you can use that image (which is just a file) to put into this directory.

In [ ]:
from sqlalchemy.schema import MetaData
m = MetaData()
m.reflect(engine2)
for table in m.tables.values():
    print('*************************')
    print('TABLE: ' + table.name) 
    print('COLUMNS:')
    for column in table.c:
        print('\t' + column.name)